/* CSS code */
.skills-container {
  display: flex;
  justify-content: space-between;
  background-color: #a1b7b0;
  height: 1000px;
  position: center;
  width: 1338px;
  margin-top: 48px;
  }
.skills-container h1 {
    font-size: 26px;
    font-weight: 700;
    color: #040404;
    padding-left: 470px;
}