/* Global styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif; /* Change to your preferred font */
}

/* Container styles */
.skill {
  display: flex;
  justify-content: space-between;
  background-color: #a1b7b0;
  width: 1338px;
  margin-top: 48px;
  padding: 20px;
}

/* Progress Bar styles */
.ms-progress-bar {
  width: 10px;
}

.ms-progress-bar .ms-bar {
  width: 0;
  animation: fillAnimation 2s ease forwards;
}

/* Loader styles */
/* Loader styles */
.loader {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.loader div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.python {
  background-color: #3572A5; /* Python color */
}

.java {
  background-color: #B07219; /* Java color */
}

.csharp {
  background-color: #178600; /* C# color */
}

.nodejs {
  background-color: #68A063; /* Node.js color */
}
