.skills {
  background-color: #a1b7b0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin-top: 35px;
  padding: 20px;
}

.skills-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.progress {
  width: 100%;
  margin-bottom: 20px;
}

.progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #2c4964;
}

.progress .skill .val {
  float: right;
  font-style: normal;
  color: black;
  /* Adjusted color for value */
}

.progress-bar-wrap {
  background: #fbeaf1;
  border-radius: 4px;
  overflow: hidden;
}

.progress-bar {
  height: 30px;
  transition: width 0.9s;
  background-color: #df36eee6;
}