.about {
  display: flex;
  justify-content: space-between;
  background-color: #a1b7b0;
  position: center;
  height: 100vh;
  position: relative;
  margin-top: 70px;
}
.resume-title h3 {
  font-size: 26px;
  font-weight: 700;
  color: #040404;
  text-align: center;
  position: relative;
}

.resume-title h3::after {
  content: "";
  display: block;
  width: 48px;
  height: 4px;
  background-color: #df36eee6;
  position: absolute;
  bottom: 0;
  left: 49%;
  transform: translateX(-50%);
}
.overlap-2 {
  margin-right: 150px;
}

.img-container {
  background: white;
  border-radius: 4px 0px 0px 234px;
  box-shadow: 0px 4px 30px #df36eed4;
  height: 350px;
  width: 250px;
  margin-top: 10px;
  margin-left: 130px;

}
.img-about {
  height: 42vh;
  margin-left: -10px;
  border-radius: 0px 115px 50px
}

.overlap-2 {
  width: 60%;
  /* Adjust as needed */
}

.resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 0; /* Adjust margin-top as needed */
  margin-bottom: 20px;
  color: #040404;
  text-align: center; /* Add this line to center align text */
}

.resume-item {
  padding: 20px;
  margin-top: 10px;
  border-left: 2px solid #df36eee6;
  position: relative;
  background: rgba(255, 255, 255, 0.05);
}

.education-experience {
  display: flex;
  justify-content: space-between;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  border: 2px solid #d43076;
}

@media screen and (max-width: 768px) {
  .about {
    margin-top: -300px;
    flex-direction: column;
    align-items: left;
    margin-left: -px;
    background-color: #a1b7b0;
  }

  p {
    width: 303px;
  }

  .img-container {
    border-radius: 4px 0px 0px 234px;
    box-shadow: 0px 4px 30px #df36eed4;
    height: 200px;
    width: 185px;
    margin-top: 54px;
    margin-left: 18px;
  }

  .img-about {
    height: 200px;
    margin-left: 36px;
    border-radius: 0px 115px 34px;
    margin-top: -20px;
  }

  .education-experience {
    display: flex;
    flex-direction: column;
    /* Change to column layout */
    background-color: #a1b7b0;

  }

  .education,
  .professional-experience {
    width: 100%;
    /* Full width for both education and experience */
    margin-top: 20px;
    /* Add spacing between education and experience */
    background-color: #a1b7b0;
    margin-left: -22px;
  }

  h4 {
    width: 300px;
  }
}