.about {
  display: flex;
  justify-content: space-between;
  background-color: #a1b7b0;
  height: 1000px;
  position: center;
  width: 1338px;
  margin-top: 48px;
}

.overlap-2 {
  margin-right: 117px;
}


.img-container {
  background-color: #d9d9d9;
  border-radius: 4px 0px 0px 234px;
  box-shadow: 0px 4px 30px #df36eed4;
  height: 450px;
  width: 350px;
  margin-top: 89px;
  margin-left: 50px;

}

.img-about {
  height: 40vh;
  margin-left: 25px;
  border-radius: 0px 115px 34px
}

.overlap-2 {
  width: 60%;
  /* Adjust as needed */
}

.resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #040404;
}

.resume-item {
  padding: 20px;
  margin-top: 10px;
  border-left: 2px solid #df36eee6;
  position: relative;
  background: rgba(255, 255, 255, 0.05);
}

.education-experience {
  display: flex;
  justify-content: space-between;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #d43076;
}