.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1338px;
  margin: 0;
  background-color: #a1b7b0;
}

.form {
  padding: 20px;
  width: 500px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(223, 54, 238, 0.9);
}

#contact {
  background-color: #a1b7b0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: -155px;
  align-items: center;
  padding: 20px;
}

#contact h1 {
  color: black;
  margin-left: 105px;
  margin-bottom: 10px;
}

#contact h3 {
  color: #df36eef0;
  margin-bottom: 20px;
  margin-left: 120px;
}

#contact > div {
  display: flex;
  margin-left: 100px;
  margin-bottom: 50px;
}

#contact > div > div {
  margin-right: 20px;
}

#contact .info {
  width: 800px;
  padding: 20px;
  background-color: #fff;
  margin-top: 40px;
  margin-right: -100px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(223, 54, 238, 0.9);
}

.captcha {
  margin-top: 5px;
}


@media screen and (max-width: 768px) {
  .Contact {
    background-color: rgb(161, 183, 176);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: -657px;
    margin-top: 898px;
    
  
  }
  #contact h1 {
    color: black;
    margin-left: -1002px;
    font-size: large;
    margin-bottom: 10px;
    margin-top: -221px;
}
#contact h3 {
  color: #df36eef0;
  margin-bottom: 20px;
  font-size: medium;
  margin-left: -987px;
}
#contact > div {
  display: flex;
  margin-left: -958px;
  margin-bottom: 50px;
}
#contact > div > div {
  margin-right: 14px;
  font-size: smaller;
}
#contact > div {
  display: flex;
  margin-left: -958px;
  margin-bottom: 52px;
  font-size: small;
}
.form {
  width: 373px;
  padding: 25px;
  background-color: rgb(255, 255, 255);
  margin-top: -12px;
  border-radius: 8px;
  box-shadow: rgba(223, 54, 238, 0.9) 0px 0px 10px;
  margin-right: -5em;
  margin-left: 0em;
}
}
.FontAwesomeIcon{
  display: flex;
  margin-right: -6em;
  align-items: center;
  margin-bottom: 20px;
  font-size: x-small;
}
.captcha {
  margin-top: -28px;
}
  
