.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1338px;
  margin: 0;
  background-color: #a1b7b0;
}

.form {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(223, 54, 238, 0.9);
}
.captcha {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .Contact {
    background-color: rgb(161, 183, 176);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: -657px;
    margin-top: 898px;
    
  
  }
  .form{
    width: 310px;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: rgba(223, 54, 238, 0.9) 0px 0px 10px;
    margin-right: -5em;
}
.FontAwesomeIcon{
  display: flex;
  margin-right: -6em;
  align-items: center;
  margin-bottom: 20px;
  font-size: x-small;
}
  }
