.projects-container {
  background-color: #a1b7b0;
  height: 751px;
  position: center;
  width: 1338px;
  margin-top: 48px;
}

.projects-container h1 {
  font-size: 26px;
  font-weight: 700;
  color: #040404;
  text-align: center;
  margin-bottom: 20px;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio-item {
  margin-bottom: 30px;
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.3s;
}

.portfolio-wrap::before {
  content: "";
  background: rgba(44, 73, 100, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio-info,
.portfolio-links {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
}

.portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}

.portfolio-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio-links a:hover {
  color: #e684ae;
}

.portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio-wrap:hover .portfolio-info,
.portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  top: 50%;
}
.portfolio-wrap .img-fluid {
  max-width: 50%; 
  height: auto; /* Maintain aspect ratio */
}
